<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>18/05/12 17:56:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_001.CloseBrowser()[pri:0, instance:com.Mpower.Tc_001.TC_001@553f17c]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td>  <td>main@1401132667</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/05/12 17:56:23</td>   <td>-2112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001.Testing()[pri:0, instance:com.Mpower.Tc_001.TC_001@553f17c]">Testing</td> 
  <td>main@1401132667</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/05/12 17:55:45</td>   <td>-40095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001.naviagteUrl()[pri:0, instance:com.Mpower.Tc_001.TC_001@553f17c]">&gt;&gt;naviagteUrl</td> 
<td>&nbsp;</td>  <td>main@1401132667</td>   <td></td> </tr>
</table>
